<%= form_with(model: orb_type) do |form| %>
  <% if orb_type.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(orb_type.errors.count, 'erro', plural: 'erros') %>:</h2>

      <ul>
        <% orb_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <strong><%= form.label :nome, :class => "form-label" %></strong>
    <%= form.text_field :nome, :class => "form-control" %>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= form.submit @orb_type.new_record? ? "Criar novo tipo de planeta" : "Atualizar o tipo de planeta", :class => "btn btn-success btn-sm" %>

      <% unless @orb_type.new_record? %>
        <%= link_to @orb_type , :class => 'btn btn-primary btn-sm' do %>
          <i class="fa fa-search"></i> Detalhes
        <% end %>
      <% end %>

      <%= link_to orb_types_path, :class => 'btn btn-primary btn-sm' do %>
        <i class="fa fa-arrow-left"></i> Voltar
      <% end %>
    </div>
  </div>
<% end %>
