<p id="notice"><%= notice %></p>

<h1>Listando tipos de corpos celestes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @orb_types.each do |orb_type| %>
      <tr>
        <td><%= orb_type %></td>
        <td>
          <%= link_to orb_type , :class => 'btn btn-primary btn-sm' do %>
            <i class="bi bi-search"></i> Detalhes
          <% end %>
          <%= link_to edit_orb_type_path(orb_type), :class => 'btn btn-primary btn-sm' do %>
            <i class="bi bi-pencil"></i> Editar
          <% end %>

          <%= link_to orb_type, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
            <i class="bi bi-trash"></i> Remover
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to  new_orb_type_path, class: 'btn btn-success' do %>
  <i class="bi bi-plus"></i> Novo tipo de corpo celeste
<% end %>
