<%= form_with(model: name) do |form| %>
  <% if name.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(name.errors.count, 'erro', plural: 'erros') %>:</h2>
      <ul>
        <% name.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <strong><%= form.label :nome, :class => "form-label" %></strong>
    <%= form.text_field :nome, :class => "form-control" %>
  </div>

  <div class="field">
    <strong><%= form.label :sexo, :class => "form-label" %></strong>
    <%= form.select(:sexo, [["", 1], ["Masculino", 2], ["Feminino", 3]], {}, { :class => 'form-select' }) %>
  </div>

  <div class="mb-3">
    <strong><%= form.label :aparencia, "Aparência" , :class => "form-label" %></strong>
    <%= form.text_area :aparencia, :class => "form-control", :rows =>"6" %>
  </div>

  <div class="mb-3">
    <strong><%= form.label :descr, "Descrição", :class => "form-label" %></strong>
    <%= form.text_area :descr, :class => "form-control", :rows =>"6" %>
  </div>

  <div class="mb-3">
    <strong><%= form.label :race_id, "Raça", :class => "form-label"  %><br /></strong>
    <%= collection_select(:name, :race_id, Race.order('nome'), :id, :nome, { :prompt => "Selecione uma raça" }, {:class=>'form-select'} ) %>
  </div>

  <div class="mb-3">
    <strong><%= form.label :family_id, "Família", :class => "form-label"  %><br /></strong>
    <%= collection_select(:name, :family_id, Family.order('nome'), :id, :nome, { :include_blank => "Selecione uma família" }, {:class=>'form-select'} ) %>
  </div>

  <div class="mb-3">
    <%= hidden_field_tag 'nome[book_ids][]', '' %>
    <strong><%= form.label :books, "Livros" %><br /></strong>
    <div class="form-check">
      <% @book.each do |book| %>
        <div>
          <%= check_box_tag "name[book_ids][]", book.id, @name.books.include?(book), class: 'form-check-input' %>
          <div class="form-check-label"> <%= book %> </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= form.submit @name.new_record? ? "Criar novo nome" : "Atualizar nome", :class => "btn btn-success btn-sm" %>

      <% unless @name.new_record? %>
        <%= link_to @name , :class => 'btn btn-primary btn-sm' do %>
          <i class="bi bi-search"></i> Detalhes
        <% end %>
      <% end %>

      <%= link_to names_path, :class => 'btn btn-primary btn-sm' do %>
        <i class="bi bi-x-octagon"></i> Voltar
      <% end %>
    </div>
  </div>
<% end %>
