<p id="notice"><%= notice %></p>

<h1>Nomes</h1>

<p>
  <%= link_to new_name_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus"></i> Novo nome
  <% end %>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
    <i class="fa fa-search"></i> Busca
  </a>
</p>
<div class="collapse" id="collapseSearch">
  <div class="card card-body">
    <div id="search-form", :class="form-inline"> <fieldset>
      <%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
        <%= f.label :nome, "Nome: " %>
        <%= f.text_field :nome_cont, :class => "input-medium search-field" %>

        <%= f.label :sexo, "Sexo" %>
        <%= f.select :sexo_eq, [["Indefinido", 1], ["Masculino", 2], ["Feminino", 3]], {:include_blank => "Todos"}, {:class => "input-medium search-field"} %>

        <%= f.label :family_id, "Família:" %>
        <%= f.select :family_id_eq, options_from_collection_for_select(Family.all,"id","nome",@search.family_id_eq),
            {:include_blank => "Todos"}, {:class => "input-medium search-field"} %>

        <%= f.label :race_id, "Raça:" %>
        <%= f.select :race_id_eq, options_from_collection_for_select(Race.all,"id","nome",@search.race_id_eq),
            {:include_blank => "Todos"}, {:class => "input-medium search-field"} %>

        <%= f.label :books_id_eq, "Livro:" %>
        <%= f.collection_select :books_id_eq, Book.order(:nome), :id, :nome, {:include_blank => "Todos"}, {:class => "input-medium search-field"} %>

      <div class="actions">
        <%= f.submit "Buscar", class: 'btn btn-primary' %>
        <%= f.submit "Limpar campos", :id => "reset_btn", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </fieldset> </div>
  </div>
</div>

<%= page_entries_info @names %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :nome, "Nome") %></th>
      <th><%= sort_link(@search, :family_id, "Familia") %></th>
      <th><%= sort_link(@search, :race_id, "Raça") %></th>
      <th>Descrição</th>
      <th>Livros</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @names.each do |name| %>
      <tr>
        <td><%= name %></td>
        <td><%= name.family %></td>
        <td><%= name.race %></td>
        <td><%= name.descr.truncate(290)&.gsub(/\n/, '<br/>')&.html_safe %></td>
        <td>
          <ul>
            <% name.books.sort.each do |book| %>
              <li> <%= book %> </li>
            <% end %>
          </ul>
        </td>
        <td>
          <div class="d-grid" style="width: 6rem;">
            <%= link_to name, :class => 'btn btn-primary btn-sm' do %>
              <i class="fa fa-search"></i> Detalhes
            <% end %>
            <%= link_to edit_name_path(name), :class => 'btn btn-success btn-sm' do %>
              <i class="fa fa-edit"></i> Editar
            <% end %>
            <%= link_to name, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
              <i class="fa fa-trash"></i> Remover
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @names %>
