<div class="row">
   <div class="col-xl-12">
      <div class="card mb-4">
         <div class="card-header">Detalhes</div>
         <div class="card-body">
             <!-- Form Group (Nome)-->
             <div class="mb-3">
                <p class="small mb-1 card-header"> Nome </p>
                <p class="small mb-1 card-body"> <%= @name.nome %> </p>
             </div>
             <!-- Form Row-->
             <div class="row gx-3 mb-3">
               <!-- Form Group (Família)-->
               <div class="col-md-4">
                  <p class="small mb-1 card-header"> Família </p>
                  <p class="small mb-1 card-body"> <%= @name.family %> </p>
               </div>
               <!-- Form Group (raça)-->
               <div class="col-md-4">
                  <p class="small mb-1 card-header"> Raça </p>
                  <p class="small mb-1 card-body"> <%= @name.race %> </p>
               </div>
                <!-- Form Group (Sexo)-->
                <div class="col-md-4">
                   <p class="small mb-1 card-header"> Sexo </p>
                   <p class="small mb-1 card-body"> <%= @name.sexo_txt %> </p>
                </div>
             </div>
             <!-- Form Row-->
             <!-- Form Group (Descrição)-->
             <div class="mb-3">
                <p class="small mb-1 card-header"> Descrição </p>
                <p class="small mb-1 card-body"> <%= @name.descr&.gsub(/\n/, '<br/>')&.html_safe %>
             </div>
             <!-- Form Row-->
             <!-- Form Group (Aparência)-->
             <div class="mb-3">
                <p class="small mb-1 card-header"> Aparência </p>
                <p class="small mb-1 card-body"> <%= @name.aparencia&.gsub(/\n/, '<br/>')&.html_safe %> </p>
             </div>
             <!-- Form Row-->
             <!-- Form Group (Livros)-->
             <div class="mb-3">
                <p class="small mb-1 card-header"> Livros </p>
                <p  class="small mb-1 card-body">
                  <ul>
                    <% @name.books.sort.each do |book| %>
                    <li> <%= book %> </li>
                    <% end %>
                  </ul>
                </p>
             </div>
         </div>
      </div>
   </div>
</div>

<div class="form-actions">
  <%= link_to edit_name_path(@name), :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-edit"></i> Editar
  <% end %>

  <%= link_to names_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-arrow-left"></i> Voltar
  <% end %>

  <%= link_to @name, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Remover
  <% end %>

  <%= link_to new_name_path, :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-plus"></i> Novo
  <% end %>
</div>
