<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Detalhes do nome</h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Nome:</strong></dt>
  <dd><%= @name.nome %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Sexo:</strong></dt>
  <dd><%= @name.sexo_txt %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Aparência:</strong></dt>
  <dd><%= h(@name.aparencia).gsub(/\n/, '<br/>').html_safe %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Descrição:</strong></dt>
  <dd><%= h(@name.descr).gsub(/\n/, '<br/>').html_safe %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Raça:</strong></dt>
  <dd><%= @name.race %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Família:</strong></dt>
  <dd><%= @name.family %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Livros:</strong></dt>
  <ul>
    <% @name.books.sort.each do |book| %>
    <li> <%= book %> </li>
    <% end %>
  </ul>
</dl>

<div class="form-actions">
  <%= link_to new_name_path, :class => 'btn btn-success btn-sm' do %>
    <i class="bi bi-plus"></i>Novo
  <% end %>

  <%= link_to edit_name_path(@name), :class => 'btn btn-primary btn-sm' do %>
    <i class="bi bi-pencil"></i> Editar
  <% end %>

  <%= link_to names_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="bi bi-x-octagon"></i> Voltar
  <% end %>

  <%= link_to @name, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="bi bi-trash"></i> Remover
  <% end %>
</div>
