<%= form_with(model: race) do |form| %>
  <% if race.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(race.errors.count, 'erro', plural: 'erros') %>:</h2>

      <ul>
        <% race.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nome, :class => "form-label" %>
    <%= form.text_field :nome, :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :descr, :class => "form-label" %>
    <%= form.text_area :descr, :class => "form-control" %>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= form.submit @race.new_record? ? "Criar nova raça" : "Atualizar raça", :class => "btn btn-success btn-sm" %>

      <% unless @race.new_record? %>
        <%= link_to @race , :class => 'btn btn-primary btn-sm' do %>
          <i class="fa-solid fa-magnifying-glass"></i> Detalhes
        <% end %>
      <% end %>

      <%= link_to races_path, :class => 'btn btn-primary btn-sm' do %>
        <i class="fa-solid fa-arrow-left"></i> Voltar
      <% end %>
    </div>
  </div>
<% end %>
