<%= form_with(model: family) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(family.errors.count, 'erro', plural: 'erros') %>:</h2>

      <ul>
        <% family.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <div class="col-xl-12">
        <div class="card mb-4">
           <div class="card-header"><%= @family.new_record? ? "Nova família" : "Detalhes da família" %></div>
           <div class="card-body">
              <form>
                 <!-- Form Row-->
                 <!-- Form Group (Nome)-->
                 <div class="mb-3">
                    <%= form.label :nome, :class => "small mb-1" %>
                    <%= form.text_field :nome, :class => "form-control" %>
                 </div>
                 <!-- Form Row-->
                 <!-- Form Group (Descrição)-->
                 <div class="mb-3">
                    <%= form.label :descr, "Descrição", :class => "small mb-1" %>
                    <%= form.text_area :descr, :class => "form-control", :rows =>"6" %>
                 </div>
                 <!-- Form Row-->
                 <div class="row gx-3 mb-3">
                  <!-- Form Group (race)-->
                  <div class="col-md-4">
                    <%= hidden_field_tag 'family[race_ids][]', '' %>
                    <%= form.label :races, "Raças", :class => "small mb-1" %><br />
                    <div class="form-check">
                      <% @race.each do |race| %>
                      <div>
                        <%= check_box_tag "family[race_ids][]", race.id, @family.races.include?(race), class: 'form-check-input' %>
                        <div class="form-check-label"> <%= race %> </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                  <!-- Form Group (book)-->
                  <div class="col-md-4">
                    <%= hidden_field_tag 'family[book_ids][]', '' %>
                    <%= form.label :books, "Livros", :class => "small mb-1" %><br />
                    <div class="form-check">
                      <% @book.each do |book| %>
                      <div>
                        <%= check_box_tag "family[book_ids][]", book.id, @family.books.include?(book), class: 'form-check-input' %>
                        <div class="form-check-label"> <%= book %> </div>
                      </div>
                      <% end %>
                    </div>
                 </div>
                 <!-- Save changes button-->
                 <p></p>
                 <div class="actions">
                   <%= form.submit @family.new_record? ? "Criar nova familia" : "Atualizar familia", :class => "btn btn-success btn-sm" %>

                   <% unless @family.new_record? %>
                     <%= link_to @family , :class => 'btn btn-primary btn-sm' do %>
                       <i class="fa fa-search"></i> Detalhes
                     <% end %>
                   <% end %>

                   <%= link_to families_path, :class => 'btn btn-primary btn-sm' do %>
                     <i class="fa fa-arrow-left"></i> Voltar
                   <% end %>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>
<% end %>
