<p id="notice"><%= notice %></p>

<h1>Famílias</h1>

<p>
  <%= link_to  new_family_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus"></i> Nova familia
  <% end %>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-search"></i> Busca
  </a>
</p>
<div class="collapse" id="collapseSearch">
  <div class="card card-body">
    <div id="search-form", :class="form-inline"> <fieldset>
      <%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
        <%= f.label :nome, "Nome: " %>
        <%= f.text_field :nome_cont, :class => "input-medium search-field" %>

        <%= f.label :races_id_eq, "Raça:" %>
        <%= f.collection_select :races_id_eq, Race.order(:nome), :id, :nome, {:include_blank => "Todos"}, :class => "input-medium search-field" %>

        <%= f.label :books_id_eq, "Livro:" %>
        <%= f.collection_select :books_id_eq, Book.order(:nome), :id, :nome, {:include_blank => "Todos"}, :class => "input-medium search-field" %>

      <div class="actions">
        <%= f.submit "Buscar", class: 'btn btn-primary' %>
        <%= f.submit "Limpar campos", :id => "reset_btn", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </fieldset> </div>
  </div>
</div>

<%= page_entries_info @families %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :nome, "Nome") %></th>
      <th>Integrantes</th>
      <th>Raça</th>
      <th>Livros</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family %></td>
        <td>
          <ul>
            <% family.names.sort.each do |name| %>
              <li> <%= name %> </li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% family.races.sort.each do |race| %>
              <li> <%= race %> </li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% family.books.sort.each do |book| %>
              <li> <%= book %> </li>
            <% end %>
          </ul>
        </td>
        <td><%= h(family.descr.truncate(400)).gsub(/\n/, '<br/>').html_safe %></td>
        <td>
          <div class="d-grid" style="width: 6rem;">
            <%= link_to family , :class => 'btn btn-primary btn-sm' do %>
              <i class="fa fa-search"></i> Detalhes
            <% end %>
            <%= link_to edit_family_path(family), :class => 'btn btn-success btn-sm' do %>
              <i class="fa fa-edit"></i> Editar
            <% end %>

            <%= link_to family, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
              <i class="fa fa-trash"></i> Remover
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @families %>
