<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Detalhes da familia</h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Nome:</strong></dt>
  <dd><%= @family.nome %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Integrantes:</strong></dt>
  <ul>
    <% @family.names.sort.each do |race| %>
    <li> <%= race %> </li>
    <% end %>
  </ul>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Livros:</strong></dt>
  <ul>
    <% @family.books.sort.each do |book| %>
    <li> <%= book %> </li>
    <% end %>
  </ul>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Raças:</strong></dt>
  <ul>
    <% @family.races.sort.each do |race| %>
    <li> <%= race %> </li>
    <% end %>
  </ul>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Descrição:</strong></dt>
  <dd><%= h(@family.descr).gsub(/\n/, '<br/>').html_safe %> </dd>
</dl>

<div class="form-actions">
  <%= link_to new_family_path, :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-plus"></i>Novo
  <% end %>

  <%= link_to edit_family_path(@family), :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-edit"></i> Editar
  <% end %>

  <%= link_to families_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-arrow-left"></i> Voltar
  <% end %>

  <%= link_to @family, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Remover
  <% end %>
</div>
