<%= form_with(model: orb) do |form| %>
  <% if orb.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(orb.errors.count, 'erro', plural: 'erros') %>:</h2>

      <ul>
        <% orb.errors.each do |error| %>
          <li><%= error.full_message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
     <div class="col-xl-12">
        <div class="card mb-4">
           <div class="card-header"><%= @orb.new_record? ? "Novo Corpo celeste" : "Editando corpo celeste" %></div>
           <div class="card-body">
              <form>
                <!-- Form Row-->
                <!-- Form Group (Nome)-->
                <div class="mb-3">
                  <%= form.label :nome, :class => "small mb-1" %>
                  <%= form.text_field :nome, :class => "form-control" %>
                </div>
                <!-- Form Row-->
                <!-- Form Group (Descrição)-->
                <div class="mb-3">
                  <%= form.label :descr, "Descrição", :class => "small mb-1" %>
                  <%= form.text_area :descr, :class => "form-control", :rows =>"6" %>
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                <!-- Form Group (book)-->
                  <div class="col-md-6">
                    <%= hidden_field_tag 'orb[book_ids][]', '' %>
                    <%= form.label :books, "Livros", :class => "small mb-1" %><br />
                    <div class="form-check">
                      <% @book.each do |book| %>
                        <div>
                          <%= check_box_tag "orb[book_ids][]", book.id, @orb.books.include?(book), class: 'form-check-input' %>
                          <div class="form-check-label"> <%= book %> </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <!-- Form Group (orbit + type)-->
                  <div class="col-md-6">
                    <div class="col-md-6">
                      <%= form.label :orb_id, "Orbita", :class => "small mb-1" %>
                      <%= collection_select(:orb, :orbit_id, Orb.order('nome'), :id, :nome, { :include_blank => "Selecione um Tipo de corpo celeste" }, {:class=>'form-select'} ) %>
                    </div>
                    <!-- Sub-row-->
                    <div class="col-md-6">
                      <%= form.label :orb_type_id, "Tipo de corpo celeste", :class => "small mb-1" %>
                      <%= collection_select(:orb, :orb_type_id, OrbType.order('nome'), :id, :nome, { :prompt => "Selecione um Tipo de corpo celeste" }, {:class=>'form-select'} ) %>
                    </div>
                  </div>
                </div>
                <!-- Save changes button-->
                <div class="actions">
                  <%= form.submit @orb.new_record? ? "Criar novo corpo celeste" : "Atualizar o corpo celeste", :class => "btn btn-success btn-sm" %>

                  <% unless @orb.new_record? %>
                    <%= link_to @orb, :class => 'btn btn-primary btn-sm' do %>
                      <i class="fa fa-search"></i> Detalhes
                    <% end %>
                  <% end %>

                  <%= link_to orbs_path, :class => 'btn btn-primary btn-sm' do %>
                    <i class="fa fa-arrow-left"></i> Voltar
                  <% end %>
                </div>
              </form>
           </div>
        </div>
     </div>
  </div>
<% end %>
