<p id="notice"><%= notice %></p>

<h1>Listando Corpos celestes</h1>

<p>
  <%= link_to  new_orb_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus"></i> Novo corpo celeste
  <% end %>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
    <i class="fa fa-search"></i> Busca
  </a>
</p>
<div class="collapse" id="collapseSearch">
  <div class="card card-body">
    <div id="search-form", :class="form-inline"> <fieldset>
      <%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
        <%= f.label :nome, "Nome: " %>
        <%= f.text_field :nome_cont, :class => "input-medium search-field" %>

        <%= f.label :orbit_id, "Orbitas:" %>
        <%= f.select :orbit_id_eq, options_from_collection_for_select(Orb.all,"id","nome",@search.orbit_id_eq),
            {:include_blank => "Todos"}, {:class => "search-field"} %>

        <%= f.label :orb_type_id, "Tipo de corpo celeste:" %>
        <%= f.select :orb_type_id_eq, options_from_collection_for_select(OrbType.all,"id","nome",@search.orb_type_id_eq),
            {:include_blank => "Todos"}, {:class => "search-field"} %>

        <%= f.label :books_id_eq, "Livro:" %>
        <%= f.collection_select :books_id_eq, Book.order(:nome), :id, :nome,
            {:include_blank => "Todos"}, {:class => "search-field"} %>

      <div class="actions">
        <%= f.submit "Buscar", class: 'btn btn-primary' %>
        <%= f.submit "Limpar campos", :id => "reset_btn", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </fieldset></div>
  </div>
</div>

<%= page_entries_info @orbs %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :nome, "Nome") %></th>
      <th><%= sort_link(@search, :orbit_id, "Orbita") %></th>
      <th><%= sort_link(@search, :orb_type_id, "Tipo do corpo celeste") %></th>
      <th>Descrição</th>
      <th>Livros</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @orbs.each do |orb| %>
      <tr>
        <td><%= orb %></td>
        <td><%= orb.orbit %></td>
        <td><%= orb.orb_type %></td>
        <td><%= h(orb.descr.truncate(380)).gsub(/\n/, '<br/>').html_safe %></td>
        <td>
          <ul>
            <% orb.books.sort.each do |book| %>
              <li> <%= book %> </li>
            <% end %>
          </ul>
        </td>
        <td>
          <div class="d-grid" style="width: 6rem;">
            <%= link_to orb , :class => 'btn btn-success btn-sm' do %>
              <i class="fa fa-search"></i> Detalhes
            <% end %>
            <%= link_to edit_family_path(orb), :class => 'btn btn-primary btn-sm' do %>
              <i class="fa fa-edit"></i> Editar
            <% end %>

            <%= link_to orb, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
              <i class="fa fa-trash"></i> Remover
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @orbs %>
