<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Detalhes do corpo celeste</h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Nome:</strong></dt>
  <dd><%= @orb.nome %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Descrição:</strong></dt>
  <dd><%= @orb.descr.gsub(/\n/, '<br/>').html_safe %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Tipo do corpo celeste:</strong></dt>
  <dd><%= @orb.orb_type %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Orbita:</strong></dt>
  <dd>
    <%= @orb.orbit %>
    <% if @orb.orbit.present? %>
      <%= link_to orb_path(@orb.orbit) do %>
        <i class="fa fa-link green-icon"></i>
      <% end %>
    <% end %>
  </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Orbitado por:</strong></dt>
  <ul>
    <% @orb.orbters.sort.each do |orbter| %>
      <li>
        <%= orbter %>
        <% if orbter.present? %>
          <%= link_to orb_path(orbter) do %>
            <i class="fa fa-link green-icon"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Livros:</strong></dt>
  <ul>
    <% @orb.books.sort.each do |book| %>
    <li> <%= book %> </li>
    <% end %>
  </ul>
</dl>

<div class="form-actions">
  <%= link_to edit_orb_path(@orb), :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-edit"></i> Editar
  <% end %>

  <%= link_to orbs_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-arrow-left"></i> Voltar
  <% end %>

  <%= link_to @orb, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Remover
  <% end %>

  <%= link_to new_orb_path, :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-plus"></i> Novo
  <% end %>
</div>
