<div class="row">
   <div class="col-xl-12">
      <div class="card mb-4">
         <div class="card-header">Detalhes do Corpo Celeste</div>
         <div class="card-body">
             <!-- Form Group (Nome)-->
             <div class="mb-3">
                <p class="small mb-1 card-header"> Nome </p>
                <p class="small mb-1 card-body"> <%= @orb.nome %> </p>
             </div>
             <!-- Form Group (Descrição)-->
             <div class="mb-3">
                <p class="small mb-1 card-header"> Descrição </p>
                <p class="small mb-1 card-body"> <%= @orb.descr&.gsub(/\n/, '<br/>')&.html_safe %> </p>
             </div>
             <!-- Form Row-->
             <div class="row gx-3 mb-3">
                <!-- Form Group (Tipo do corpo celeste)-->
                <div class="col-md-4">
                   <p class="small mb-1 card-header"> Tipo do Corpo Celeste </p>
                   <p class="small mb-1 card-body"> <%= @orb.orb_type %> </p>
                </div>
                <!-- Form Group (Orbita)-->
                <div class="col-md-4">
                   <p class="small mb-1 card-header"> Orbita </p>
                   <p class="small mb-1 card-body">
                      <%= @orb.orbit %>
                      <% if @orb.orbit.present? %>
                        <%= link_to orb_path(@orb.orbit) do %>
                           <i class="fa fa-link green-icon"></i>
                        <% end %>
                      <% end %>
                   </p>
                </div>
                <!-- Form Group (Orbitado por)-->
                <div class="col-md-4">
                   <p class="small mb-1 card-header"> Orbitado por </p>
                   <p class="small mb-1 card-body">
                      <ul>
                         <% @orb.orbters.sort.each do |orbter| %>
                         <li>
                            <%= orbter %>
                            <% if orbter.present? %>
                              <%= link_to orb_path(orbter) do %>
                                <i class="fa fa-link green-icon"></i>
                              <% end %>
                            <% end %>
                         </li>
                         <% end %>
                      </ul>
                   </p>
                </div>
             </div>
             <!-- Form Group (Livros)-->
             <div class="mb-3">
                <p class="small mb-1 card-header"> Livros </p>
                <p class="small mb-1 card-body">
                   <ul>
                      <% @orb.books.sort.each do |book| %>
                      <li>
                         <%= book %>
                         <% if book.present? %>
                           <%= link_to book_path(book) do %>
                             <i class="fa fa-link green-icon"></i>
                           <% end %>
                         <% end %>
                      </li>
                      <% end %>
                   </ul>
                </p>
             </div>
      </div>
   </div>
</div>

<div class="form-actions">
  <%= link_to edit_orb_path(@orb), :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-edit"></i> Editar
  <% end %>

  <%= link_to orbs_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-arrow-left"></i> Voltar
  <% end %>

  <%= link_to @orb, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Remover
  <% end %>

  <%= link_to new_orb_path, :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-plus"></i> Novo
  <% end %>
</div>
