<%= form_with(model: ship) do |form| %>
  <% if ship.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(ship.errors.count, 'erro', plural: 'erros') %>:</h2>

      <ul>
        <% ship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
     <div class="col-xl-12">
        <div class="card mb-4">
           <div class="card-header"><%= @ship.new_record? ? "Nova Nave" : "Editando nave" %></div>
           <div class="card-body">
              <form>
                <!-- Form Row-->
                <!-- Form Group (Nome)-->
                <div class="mb-3">
                  <%= form.label :nome, :class => "small mb-1" %>
                  <%= form.text_field :nome, :class => "form-control" %>
                </div>
                <!-- Form Row-->
                <!-- Form Group (Descrição)-->
                <div class="mb-3">
                  <%= form.label :descr, "Descrição", :class => "small mb-1" %>
                  <%= form.text_area :descr, :class => "form-control", :rows =>"6" %>
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                <!-- Form Group (book)-->
                  <div class="col-md-6">
                    <%= hidden_field_tag 'ship[book_ids][]', '' %>
                    <%= form.label :books, "Livros", :class => "small mb-1" %><br />
                    <div class="form-check">
                      <% @book.each do |book| %>
                        <div>
                          <%= check_box_tag "ship[book_ids][]", book.id, @ship.books.include?(book), class: 'form-check-input' %>
                          <div class="form-check-label"> <%= book %> </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <!-- Form Group (orbit + type)-->
                  <div class="col-md-6">
                    <div class="col-md-6">
                      <%= form.label :base_type_id, "Tipo base da nave:", :class => "small mb-1" %>
                      <%= collection_select(:ship, :base_type_id, BaseType.order('nome'), :id, :nome, { :prompt => "Selecione um tipo base" }, {:class=>'form-select'} ) %>
                    </div>
                    <!-- Sub-row-->
                    <div class="col-md-6">
                      <%= form.label :ship_size_id, "Tamanho da nave:", :class => "small mb-1" %>
                      <%= collection_select(:ship, :ship_size_id, ShipSize.order('nome'), :id, :nome, { :prompt => "Selecione um tamanho" }, {:class=>'form-select'} ) %>
                    </div>
                  </div>
                </div>
                <!-- Save changes button-->
                <div class="actions">
                  <%= form.submit @ship.new_record? ? "Criar nova nave" : "Atualizar nave", :class => "btn btn-success btn-sm" %>

                  <% unless @ship.new_record? %>
                    <%= link_to @ship , :class => 'btn btn-primary btn-sm' do %>
                      <i class="fa fa-search"></i> Detalhes
                    <% end %>
                  <% end %>

                  <%= link_to ships_path, :class => 'btn btn-primary btn-sm' do %>
                    <i class="fa fa-arrow-left"></i> Voltar
                  <% end %>
                </div>
              </form>
           </div>
        </div>
     </div>
  </div>
<% end %>
