<p id="notice"><%= notice %></p>

<h1>Listando naves</h1>

<p>
  <%= link_to  new_ship_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus"></i> Nova nave
  <% end %>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
    <i class="fa fa-search"></i> Busca
  </a>
</p>
<div class="collapse" id="collapseSearch">
  <div class="card card-body">
    <div id="search-form", :class="form-inline"> <fieldset>
    <%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>

      <%= f.label :nome, "Nome: " %>
      <%= f.text_field :nome_cont, :class => "input-medium search-field" %>

      <%= f.label :base_type_id, "Tipo base:" %>
      <%= f.select :base_type_id_eq, options_from_collection_for_select(BaseType.all,"id","nome",@search.base_type_id_eq),
          {:include_blank => "Todos"}, {:class => "input-medium search-field"} %>

      <%= f.label :ship_size_id, "Tamanho da nave:" %>
      <%= f.select :ship_size_id_eq, options_from_collection_for_select(ShipSize.all,"id","nome",@search.ship_size_id_eq),
          {:include_blank => "Todos"}, {:class => "input-medium search-field"} %>

      <%= f.label :books_id_eq, "Livro:" %>
      <%= f.collection_select :books_id_eq, Book.order(:nome), :id, :nome,
          {:include_blank => "Todos"}, {:class => "input-medium search-field"} %>

      <div class="actions">
        <%= f.submit "Buscar", class: 'btn btn-primary' %>
        <%= f.submit "Limpar campos", :id => "reset_btn", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset> </div>
  </div>
</div>

<%= page_entries_info @ships %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :nome, "Nome") %></th>
      <th>Descrição</th>
      <th>Livros</th>
      <th><%= sort_link(@search, :base_type_id, "Tipo Base") %></th>
      <th><%= sort_link(@search, :ship_size_id, "Classe da nave") %></th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @ships.each do |ship| %>
    <tr>
      <td><%= ship %></td>
      <td><%= h(ship.descr).gsub(/\n/, '<br/>').html_safe %></td>
      <td>
        <ul>
          <% ship.books.each do |book| %>
            <li> <%= book %> </li>
          <% end %>
        </ul>
      </td>
      <td><%= ship.base_type %></td>
      <td><%= ship.ship_size %></td>
      <td>
        <div class="d-grid mx-auto">
          <%= link_to ship , :class => 'btn btn-primary btn-sm' do %>
            <i class="fa fa-search"></i> Detalhes
          <% end %>
          <%= link_to edit_family_path(ship), :class => 'btn btn-success btn-sm' do %>
            <i class="fa fa-edit"></i> Editar
          <% end %>

          <%= link_to ship, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
            <i class="fa fa-trash"></i> Remover
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @ships %>
