<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Detalhes da nave</h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Nome:</strong></dt>
  <dd><%= @ship.nome %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Livros:</strong></dt>
  <ul>
    <% @ship.books.sort.each do |book| %>
    <li> <%= book %> </li>
    <% end %>
  </ul>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Tipo Base:</strong></dt>
  <dd><%= @ship.base_type %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Classe da nave:</strong></dt>
  <dd><%= @ship.ship_size %> </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Descrição:</strong></dt>
  <dd><%= h(@ship.descr).gsub(/\n/, '<br/>').html_safe %> </dd>
</dl>

<div class="form-actions">
  <%= link_to new_ship_path, :class => 'btn btn-success btn-sm' do %>
    <i class="fa-solid fa-plus"></i>Novo
  <% end %>

  <%= link_to edit_ship_path(@ship), :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-pencil"></i> Editar
  <% end %>

  <%= link_to ships_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="fa-solid fa-arrow-left"></i> Voltar
  <% end %>

  <%= link_to @ship, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Remover
  <% end %>
</div>
