<%= form_for(@ship_size, html: {class: 'form-horizontal'}) do |f| %>
  <% if @ship_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship_size.errors.count, "erro") %>:</h2>

      <ul>
      <% @ship_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :nome, "Nome:" , class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit @ship_size.new_record? ? "Criar novo tamanho de nave" : "Atualizar tamanho de nave" %>
  </div>
<% end %>
