<%= form_with(model: ship_size) do |form| %>
  <% if ship_size.errors.any? %>
    <div id="error_explanationn" class="alert alert-danger">
      <h2><%= pluralize(ship_size.errors.count, 'erro', plural: 'erros') %>:</h2>

      <ul>
        <% ship_size.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
     <div class="col-xl-12">
        <div class="card mb-4">
           <div class="card-header"><%= @ship_size.new_record? ? "Novo tamanho de nave" : "Detalhes do tamanho de nave" %></div>
           <div class="card-body">
              <form>
                <!-- Form Row-->
                <!-- Form Group (Nome)-->
                <div class="mb-3">
                  <%= form.label :nome, :class => "small mb-1" %>
                  <%= form.text_field :nome, :class => "form-control" %>
                </div>

                <!-- Form Group (Order)-->
                <div class="mb-3">
                  <%= form.label :order, "Ordem", class: "small mb-1" %>
                  <%= form.number_field :ordem, class: "form-control" %>
                </div>

                <div class="mb-3">
                  <%= form.label :descr, "Descrição", :class => "small mb-1" %>
                  <%= form.text_area :descr, :class => "form-control", :rows =>"10" %>
                </div>

                <div class="actions">
                  <%= form.submit @ship_size.new_record? ? "Criar novo tamanho de nave" : "Atualizar tamanho de nave", :class => "btn btn-success btn-sm" %>

                  <% unless @ship_size.new_record? %>
                    <%= link_to @ship_size , :class => 'btn btn-primary btn-sm' do %>
                      <i class="fa fa-search"></i> Detalhes
                    <% end %>
                  <% end %>

                  <%= link_to ship_sizes_path, :class => 'btn btn-primary btn-sm' do %>
                    <i class="fa fa-arrow-left"></i> Voltar
                  <% end %>
                </div>
              </form>
           </div>
        </div>
     </div>
  </div>
<% end %>
