<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Detalhes do tamanho da nave</h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Nome:</strong></dt>
  <dd><%= @ship_size.nome %> </dd>
</dl>

<div class="form-actions">
  <%= link_to edit_ship_size_path(@ship_size), :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-edit"></i> Editar
  <% end %>

  <%= link_to ship_sizes_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-arrow-left"></i> Voltar
  <% end %>

  <%= link_to @ship_size, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Remover
  <% end %>

  <%= link_to new_ship_size_path, :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-plus"></i> Novo
  <% end %>
</div>
