<p id="notice"><%= notice %></p>

<div class="row">
   <div class="col-xl-12">
      <div class="card mb-4">
         <div class="card-header">Detalhes do tamanho da nave</div>
         <div class="card-body">
             <!-- Form Group (Nome)-->
             <div class="mb-3">
                <p class="small mb-1 card-header">Nome</p>
                <p class="small mb-1 card-body"><%= @ship_size.nome %></p>
             </div>
             <!-- Form Group (Ordem)-->
             <div class="mb-3">
               <p class="small mb-1 card-header">Ordem</p>
               <p class="small mb-1 card-body"><%= @ship_size.ordem %></p>
             </div>
             <!-- Form Group (Descrição)-->
             <div class="mb-3">
                <p class="small mb-1 card-header">Descrição</p>
                <p class="small mb-1 card-body"><%= @ship_size.descr&.gsub(/\n/, '<br/>')&.html_safe %></p>
             </div>
             <!-- Form Group (Tamanho)-->
             <div class="mb-3">
               <p class="small mb-1 card-header">Tamanho</p>
               <p class="small mb-1 card-body"><%= @ship_size.tamanho&.gsub(/\n/, '<br/>')&.html_safe %></p>
             </div>
             <!-- Form Group (Tripulação)-->
             <div class="mb-3">
               <p class="small mb-1 card-header">Tripulação</p>
               <p class="small mb-1 card-body"><%= @ship_size.tripulacao&.gsub(/\n/, '<br/>')&.html_safe %></p>
             </div>
             <!-- Form Group (Naves)-->
             <div class="mb-3">
                <p class="small mb-1 card-header">Naves</p>
                <p class="small mb-1 card-body">
                   <ul>
                      <% @ship_size.ships.sort.each do |ship| %>
                      <li>
                         <%= ship.nome %>
                         <% if ship.present? %>
                           <%= link_to ship_path(ship) do %>
                             <i class="fa fa-link green-icon"></i>
                           <% end %>
                         <% end %>
                      </li>
                      <% end %>
                   </ul>
                </p>
             </div>
         </div>
      </div>
   </div>
</div>

<div class="form-actions">
  <%= link_to edit_ship_size_path(@ship_size), :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-edit"></i> Editar
  <% end %>

  <%= link_to ship_sizes_path, :class => 'btn btn-primary btn-sm' do %>
    <i class="fa fa-arrow-left"></i> Voltar
  <% end %>

  <%= link_to @ship_size, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
    <i class="fa fa-trash"></i> Remover
  <% end %>

  <%= link_to new_ship_size_path, :class => 'btn btn-success btn-sm' do %>
    <i class="fa fa-plus"></i> Novo
  <% end %>
</div>
