<%= form_with(model: base_type) do |form| %>
  <% if base_type.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(base_type.errors.count, 'erro', plural: 'erros') %>:</h2>

      <ul>
        <% base_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <strong><%= form.label :nome, :class => "form-label" %></strong>
    <%= form.text_field :nome, :class => "form-control" %>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= form.submit @base_type.new_record? ? "Criar novo tipo base" : "Atualizar tipo base", :class => "btn btn-success btn-sm" %>

      <% unless @base_type.new_record? %>
        <%= link_to @base_type , :class => 'btn btn-primary btn-sm' do %>
          <i class="bi bi-search"></i> Detalhes
        <% end %>
      <% end %>

      <%= link_to base_types_path, :class => 'btn btn-primary btn-sm' do %>
        <i class="bi bi-x-octagon"></i> Voltar
      <% end %>
    </div>
  </div>

<% end %>
