<p id="notice"><%= notice %></p>

<h1>Tipos base</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @base_types.each do |base_type| %>
      <tr>
        <td><%= base_type %></td>
        <td>
          <%= link_to base_type , :class => 'btn btn-primary btn-sm' do %>
            <i class="fa-solid fa-magnifying-glass"></i> Detalhes
          <% end %>
          <%= link_to edit_base_type_path(base_type), :class => 'btn btn-primary btn-sm' do %>
            <i class="fa fa-pencil"></i> Editar
          <% end %>

          <%= link_to base_type, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' do %>
            <i class="fa fa-trash"></i> Remover
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to new_base_type_path, class: 'btn btn-success' do %>
  <i class="fa-solid fa-plus"></i> Novo tipo base
<% end %>
