<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <i class="fa fa-book navbar-brand"></i><%= link_to "O grande livro dos nomes", root_path, :class => 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nomes e famílias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Nomes', names_path, :class => "dropdown-item" %></li>
            <li><%= link_to 'Famílias', families_path, :class => "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Raças', races_path, :class => "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Naves e Planetas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Naves', ships_path, :class => "dropdown-item" %></li>
            <li><%= link_to 'Corpos Celestes', orbs_path, :class => "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Tamanhos de naves', ship_sizes_path, :class => "dropdown-item" %></li>
            <li><%= link_to 'Tipos de naves', base_types_path, :class => "dropdown-item" %></li>
            <li><%= link_to 'Tipos de planetas', orb_types_path, :class => "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <a> <%= link_to 'Livros', books_path, :class => 'nav-link' %> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
