<!DOCTYPE html>
<html>
  <head>
    <title>O Grande Livro dos nomes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Sistema de apoio a minha produção literária">
    <meta name="author" content="Luis Alexandre Deschamps Brandão">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:head) %>
    <body>
      <%= render 'layouts/links' %>
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/header' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </body>
  </html>
